@charset "UTF-8";
/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
:root {
  --bg: #F1F0F6;
  --bg_contents: #fff;
  --dark-grey: #8d8d8d;
  --title_sidebar: #000;
  --section_sidebar: #8D8D8D;
  --font_sidebar: #000;
  --bg_hover_elements: #F1F0F6;
  --focus_input_1: #406c44;
  --focus_input_2: #8bba8f;
  --red: #ff0000;
  --dark: #000;
  --gray: #cccccc;
}

/**
*  Boton de usuarios desacticados
*/
/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border: 1px solid #406c44;
  background: rgba(64, 108, 68, 0.3);
  border-radius: 20px 0 0 20px;
  box-shadow: inset 1px 1px 0 #538c58, inset -1px -1px 0 #538c58;
}

body::-webkit-scrollbar-thumb:hover {
  background: #406c44;
}

/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
#sidebar {
  position: fixed;
  max-width: 220px;
  width: 100%;
  background: var(--bg_contents);
  border-radius: 0px 20px 20px 0px;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
  z-index: 200;
  box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
}
@media (max-width: 300px) {
  #sidebar {
    max-width: 220px;
  }
}

#sidebar.hide {
  max-width: 60px;
}

#sidebar.hide:hover {
  max-width: 220px;
  box-shadow: 1px 1px 1px #d1d9e6, -1px -1px 1px #f9f9f9;
}
@media (max-width: 300px) {
  #sidebar.hide:hover {
    max-width: 200px;
  }
}

#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar .logo_site {
  width: 55px;
  width: 55px;
}

#sidebar .title_text {
  display: grid;
  justify-content: start;
  align-items: center;
  height: 70%;
  width: 100%;
  min-width: 156.1px;
}
#sidebar .title_text p {
  width: 100%;
  font-size: larger;
}

#sidebar .brand {
  font-size: 18px;
  display: flex;
  align-items: center;
  min-height: 64px;
  max-height: 64px;
  font-weight: bold;
  color: var(--title_sidebar);
  position: sticky;
  z-index: 100;
  background: #ecf0f3;
  transition: all 0.3s ease;
  gap: 5px;
  padding: 5px 0 6px 4px;
  box-shadow: 0px 8px 5px #d1d9e6, -10px -10px 10px #f9f9f9;
}
#sidebar .side-menu .contenedor_config {
  display: grid;
  align-items: center;
  margin-top: 5px;
  font-weight: bold;
  background: #e9eef1;
  transition: all 0.3s ease;
  border-radius: 10px;
  box-shadow: 4px 4px 5px #d1d9e6, -10px -10px 10px #f9f9f9;
}

#sidebar .side-menu .contenedor_config li {
  display: grid;
  align-items: center;
  border-radius: 10px;
}

#sidebar .side-menu .contenedor_config:hover {
  box-shadow: none;
}

#sidebar .side-menu .contenedor_config li:hover,
#sidebar .side-dropdown a:hover {
  background-color: var(--bg_hover_elements);
  box-shadow: inset 8px 8px 12px #b0bed4, inset -8px -8px 12px #e0e0e0;
}

#sidebar .icon {
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  font-size: 15px;
}

#sidebar .icon-right {
  margin-left: auto;
  transition: all 0.3s ease;
}

#sidebar .side-menu {
  margin: 36px 0;
  padding: 0 20px;
  transition: all 0.3s ease;
}

#sidebar.hide .side-menu {
  padding: 0 6px;
}

#sidebar.hide:hover .side-menu {
  padding: 0 20px;
}

#sidebar .side-menu a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--font_sidebar);
  padding: 12px 16px 12px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 4px 0;
  white-space: nowrap;
}

#sidebar .side-menu > li > a:hover,
#sidebar .side-dropdown > li > a:hover {
  background: var(--bg_hover_elements);
  box-shadow: inset 8px 8px 12px #b0bed4, inset -8px -8px 12px #e0e0e0;
}

#sidebar .side-menu > li > a.active .icon-right {
  transform: rotateZ(90deg);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover,
#sidebar .side-dropdown > li > a.active,
#sidebar .side-dropdown > li > a.active:hover {
  background: #406c44;
  color: var(--bg_contents);
  box-shadow: inset 8px 8px 12px #2d4c30, inset -8px -8px 12px #538c58;
}

#sidebar .side-menu .contenedor_config > li > a.active,
#sidebar .side-menu .contenedor_config > li > a.active:hover {
  background: #2d4c30;
  color: var(--bg_contents);
  box-shadow: inset 8px 8px 12px #1a2c1c, inset -8px -8px 12px #538c58;
}

#sidebar .side-menu > li > a.sidebar_inicio {
  border: 1px solid #d1d9e6;
}

#sidebar .divider {
  margin-top: 24px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--section_sidebar);
  transition: all 0.3s ease;
  white-space: nowrap;
}

#sidebar.hide:hover .divider {
  text-align: left;
}

#sidebar.hide .divider {
  text-align: center;
}

.side_list {
  cursor: pointer;
}

#sidebar .side-dropdown {
  padding-left: 10px;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.15s ease;
  cursor: pointer;
}

#sidebar .side-dropdown.show {
  max-height: 1000px;
}

.side-dropdown a.active {
  background: #2d4c30;
  color: var(--bg_contents) !important;
  box-shadow: inset 8px 8px 12px #1a2c1c, inset -8px -8px 12px #538c58;
}

/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
#content {
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  transition: all 0.3s ease;
}
@media (max-width: 300px) {
  #content {
    width: calc(100% - 200px);
    left: 200px;
  }
}

#sidebar.hide + #content {
  width: calc(100% - 60px);
  left: 60px;
}

.contenedor_subtitulo_pagina h3 {
  margin-left: 10px;
}

/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
nav {
  background: var(--bg_contents);
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 0px 20px;
  grid-gap: 28px;
  margin-left: 230px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 199;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
}
@media (max-width: 800px) {
  nav {
    margin-left: 70px;
  }
}
@media (max-width: 380px) {
  nav {
    grid-gap: 10px;
  }
}
@media (max-width: 335px) {
  nav {
    grid-gap: 5px;
  }
}
@media (max-width: 300px) {
  nav {
    grid-gap: 3px;
  }
}

.name_user {
  font-size: 15px;
  font-weight: bold;
  color: #54585b;
}

nav .toggle-sidebar {
  display: grid;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
}

nav .toggle-sidebar:hover {
  background-color: #d1d9e6;
}

nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

nav .divider {
  width: 1px;
  background: var(--bg_hover_elements);
  height: 12px;
  display: block;
}

nav .contenedor_user {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  padding: 3px 20px;
  box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
}
@media (max-width: 380px) {
  nav .contenedor_user {
    padding-right: 5px;
  }
}
@media (max-width: 300px) {
  nav .contenedor_user {
    padding-left: 10px;
    gap: 3px;
  }
}

nav .contenedor_user .profile {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 3px solid transparent;
  transition: 0.25s ease-in-out;
  transform-origin: center;
  z-index: 1002;
}

nav .contenedor_user .profile:hover,
nav .contenedor_user .profile:active {
  backdrop-filter: blur(90px);
  border: 3px dashed #406c44;
  transition: 0.25s ease-in-out;
}

nav .contenedor_user .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  background-color: #406c44;
}

nav .contenedor_user .profile .profile-link {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  background: var(--bg_contents);
  padding: 10px 0;
  box-shadow: 4px 4px 16px rgba(var(--dark), 0.1);
  border-radius: 10px;
  width: 160px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 10px var(--dark-grey), inset 8px 8px 12px #b0bed4, inset -8px -8px 12px #f9f9f9;
}

nav .contenedor_user .profile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
}

nav .contenedor_user .profile .profile-link a {
  padding: 10px 16px;
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  color: var(--dark);
  align-items: center;
  transition: all 0.3s ease;
}

nav .contenedor_user .profile .profile-link a.active,
nav .contenedor_user .profile .profile-link a.active:hover {
  background: #2d4c30;
  color: #f9f9f9;
  box-shadow: inset 8px 8px 12px #1a2c1c, inset -8px -8px 12px #538c58;
}

nav .contenedor_user .profile .profile-link a:hover {
  background: var(--bg_hover_elements);
  box-shadow: inset 8px 8px 12px #b0bed4, inset -8px -8px 12px #e0e0e0;
}

nav .contenedor_notificacion {
  display: grid;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: inset 6px 6px 6px #d1d9e6, inset -8px -8px 12px #f9f9f9;
}

.notification_box,
.notification_content,
.notification_btns {
  display: flex;
}

nav .contenedor_notificacion .notification_btn,
nav .contenedor_notificacion #toggleBtn {
  width: 40px;
  height: 40px;
}

nav .contenedor_notificacion button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 20px;
  position: relative;
}

.notificacion {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--red);
  color: #f9f9f9;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_notificaciones {
  background-color: transparent;
  position: fixed;
  border-radius: 10px;
  top: 5rem;
  right: 5px;
  padding-right: 5px;
  padding-left: 0px;
  margin-left: 72px;
  display: grid;
  gap: 5px;
  z-index: 1001;
  opacity: 0.5;
  max-height: calc(2 * 64px + 5px);
  overflow-y: auto;
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 400px) {
  .contenedor_notificaciones {
    max-height: calc(2 * 64px + 25px);
  }
}
@media (max-width: 350px) {
  .contenedor_notificaciones {
    transform: scale(0.8);
    transform-origin: top right;
    top: 70px;
    margin-left: 22px;
  }
}
.contenedor_notificaciones:hover {
  opacity: 1;
  max-height: calc(6 * 64px + 25px);
}
@media (max-width: 400px) {
  .contenedor_notificaciones:hover {
    max-height: calc(6 * 64px + 85px);
  }
}
.contenedor_notificaciones::-webkit-scrollbar {
  width: 3px;
}
.contenedor_notificaciones::-webkit-scrollbar-track {
  background: transparent;
}
.contenedor_notificaciones::-webkit-scrollbar-thumb {
  border: 1px solid #a0a5a8;
  background: rgba(160, 165, 168, 0.3);
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 #bbbec0, inset -1px -1px 0 #bbbec0;
}
.contenedor_notificaciones::-webkit-scrollbar-thumb:hover {
  background: #a0a5a8;
}

.contenedor_notificacion.active {
  background-color: #ecf0f3;
  box-shadow: 0.3rem 0.3rem 0.5rem #d1d9e6, -0.2rem -0.2rem 0.5rem #f9f9f9;
}

.notification_box {
  background-color: rgba(249, 249, 249, 0.7);
  border-radius: 0.75em;
  box-shadow: 0 0.5em 1em rgba(23, 24, 28, 0.1);
  height: 64px;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.2s ease-in-out;
}
@media (max-width: 400px) {
  .notification_box {
    height: 74px;
  }
}
.contenedor_notificaciones:hover .notification_box {
  backdrop-filter: blur(5px);
}
@media (prefers-color-scheme: dark) {
  .notification_box {
    background-color: rgba(32, 34, 39, 0.8);
  }
}
.notification_box .notification_content {
  padding: 0.375em 1em;
  width: 100%;
  height: 100%;
  align-items: center;
  color: #ecf0f3;
}
.notification_box .notification_content .notification_icon {
  flex-shrink: 0;
  margin-right: 0.75em;
  width: 2em;
  height: 2em;
}
@media (max-width: 335px) {
  .notification_box .notification_content .notification_icon {
    display: grid;
    width: 1em;
    height: 1em;
    justify-content: center;
    align-content: center;
  }
  .notification_box .notification_content .notification_icon .notification_icon-svg {
    width: 20px;
    height: 20px;
  }
}
.notification_box .notification_content .notification_text {
  line-height: 1.333;
  width: 100%;
}
.notification_box .notification_content .notification_text .notification_text-title {
  font-size: 0.75em;
  font-weight: bold;
}
@media (max-width: 350px) {
  .notification_box .notification_content .notification_text .notification_text-title {
    font-size: 0.7em;
  }
}
.notification_box .notification_content .notification_text .notification_text-subtitle {
  font-size: 0.6em;
  opacity: 0.75;
}
@media (max-width: 350px) {
  .notification_box .notification_content .notification_text .notification_text-subtitle {
    font-size: 0.55em;
  }
}
.notification_box .notification_content .notification_text .notification_text_time {
  font-size: 0.5em;
  text-align: right;
  opacity: 0.8;
}
.notification_box .notification_btns {
  box-shadow: -1px 0 0 rgba(23, 24, 28, 0.15);
  flex-direction: column;
  flex-shrink: 0;
  min-width: 4em;
  height: 100%;
}
@media (prefers-color-scheme: dark) {
  .notification_box .notification_btns {
    box-shadow: -1px 0 0 rgba(227, 228, 232, 0.15);
  }
}
.notification_box .notification_btns .notification_btn {
  background-color: transparent;
  box-shadow: 0 0 0 rgba(23, 24, 28, 0.5) inset;
  color: #f9f9f9;
  font-size: 0.6em;
  line-height: 1;
  width: 100%;
  font-weight: 500;
  height: 100%;
  padding: 0 0.5rem;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.notification_box .notification_btns .notification_btn:first-of-type {
  border-radius: 0 0.75rem 0 0;
}
.notification_box .notification_btns .notification_btn:last-of-type {
  border-radius: 0 0 0.75rem 0;
}
@media (prefers-color-scheme: dark) {
  .notification_box .notification_btns .notification_btn {
    box-shadow: 0 -1px 0 rgba(227, 228, 232, 0.15);
  }
}
.notification_box .notification_btns .notification_btn:hover {
  background-color: #202227;
}
.notification_box .notification_btns .notification_btn:hover:only-of-type {
  border-radius: 0 0.75rem 0.75rem 0;
}

#sesion_timer_notificacion {
  backdrop-filter: blur(5px);
}
@media (prefers-color-scheme: dark) {
  #sesion_timer_notificacion {
    background-color: rgba(113, 107, 65, 0.8);
  }
}
#sesion_timer_notificacion .notification_text .notification_text-title {
  font-size: 0.9em;
}
@media (max-width: 350px) {
  #sesion_timer_notificacion .notification_text .notification_text-title {
    font-size: 0.7em;
  }
}
#sesion_timer_notificacion .notification_text .notification_text-subtitle {
  font-size: 0.8em;
}
#sesion_timer_notificacion .notification_btn:first-of-type {
  border-radius: 0 0.75rem 0.75rem 0;
}
#sesion_timer_notificacion .notification_btn:hover {
  background-color: #615c38;
}

.no_notifications {
  width: 100%;
  display: grid;
  justify-content: center;
  font-size: 10px;
}

/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
/* MAIN */
main {
  width: 100%;
  padding: 24px 20px 20px 20px;
  margin-top: 64px;
}

main .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  main .title {
    font-size: 20px;
  }
}

main .breadcrumbs {
  display: flex;
  grid-gap: 6px;
  padding: 10px;
  border-radius: 0px 10px 10px 10px;
  box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
}

main .breadcrumbs li,
main .breadcrumbs li a {
  font-size: 14px;
}
@media (max-width: 480px) {
  main .breadcrumbs li,
  main .breadcrumbs li a {
    font-size: 10px;
  }
}

main .breadcrumbs li a {
  color: #497c4e;
}

main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
  color: var(--dark-grey);
  pointer-events: none;
}

.general_contenedor {
  width: auto;
  margin-top: 25px;
}

.general_contenedor .info-data .contenedor_perfil {
  display: grid;
  padding: 20px;
  border-radius: 10px;
  background: var(--bg_contents);
  box-shadow: 4px 4px 16px rgba(var(--dark), 0.05);
}
@media (max-width: 480px) {
  .general_contenedor .info-data .contenedor_perfil {
    font-size: 10px;
    padding: 20px 0px;
  }
}
@media (max-width: 335px) {
  .general_contenedor .info-data .contenedor_perfil {
    padding: 10px;
  }
}
@media (max-width: 315px) {
  .general_contenedor .info-data .contenedor_perfil {
    display: block;
  }
}

.contenedor_perfil .perfil {
  padding: 0;
}
@media (max-width: 335px) {
  .contenedor_perfil .perfil {
    padding: 0;
  }
}
@media (max-width: 300px) {
  .contenedor_perfil .perfil {
    display: block;
  }
}

/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
@media (max-width: 380px) {
  #swal2-title {
    font-size: 1.5em;
  }
}

#swal2-html-container #currentPassword,
#swal2-html-container #newPassword,
#swal2-html-container #repeatPassword {
  text-align: center;
}

@media (max-width: 380px) {
  .sub_nueva_contraseña {
    font-size: 0.8em;
  }
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--bg);
  overflow-x: hidden;
  user-select: none;
  padding-right: 0 !important;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

hr {
  width: 100%;
  opacity: 20%;
}

/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */
@keyframes popAnimation {
  0%, 100% {
    transform: scale(1);
  }
  12.5% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.9);
  }
  37.5% {
    transform: scale(1.07);
  }
  50% {
    transform: scale(0.93);
  }
  62.5% {
    transform: scale(1.04);
  }
  75% {
    transform: scale(0.96);
  }
  87.5% {
    transform: scale(1.01);
  }
}
@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}
@keyframes goLeft {
  from {
    transform: translateX(0%) scale(1);
  }
  to {
    transform: translateX(-120%) scale(0.1);
  }
}
@keyframes center {
  from {
    transform: translateX(0%) scale(0.1);
  }
  to {
    transform: translateX(0%) scale(1);
  }
}
@keyframes goRight {
  from {
    transform: translateX(0%) scale(1);
  }
  to {
    transform: translateX(120%) scale(0.1);
  }
}
/**
* Boton flotande de configuraciones
*/
@keyframes moveButton {
  from {
    right: 0;
  }
  to {
    right: -15px;
  }
}
@keyframes moveButtonHover {
  from {
    right: -15px;
  }
  to {
    right: 0;
  }
}
@keyframes onePulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(92, 103, 255, 0.3);
  }
  50% {
    box-shadow: 0px 0px 0px 12px rgba(92, 103, 255, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
  }
}
@keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}
@keyframes shadow-transition-target {
  0% {
    box-shadow: 0.125rem 0.125rem 0.25rem #b0bed4, -0.125rem -0.125rem 0.25rem #e0e0e0;
  }
  100% {
    box-shadow: 0.3rem 0.3rem 0.6rem #b0bed4, -0.2rem -0.2rem 0.5rem #e0e0e0;
  }
}
.button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #1a2c1c;
  color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
}
@media (max-width: 380px) {
  .button {
    height: 40px;
  }
}
@media ((max-width: 335px) and (min-width: 0px)) {
  .button {
    width: 100%;
    padding: 0 25px;
  }
}
.button:hover {
  background-color: #070c08;
}

.button_container_register,
.button_container_login {
  z-index: 100;
  display: grid;
}
.button_container_register .button1,
.button_container_login .button1 {
  width: 180px;
  height: 40px;
  border-radius: 0px 5px 0px 0px;
  font-weight: 700;
  font-size: 14px;
  color: #f9f9f9;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.button_container_register .button1:hover::after,
.button_container_login .button1:hover::after {
  background-color: rgba(36, 60, 38, 0.7);
}
@media ((max-width: 350px) and (min-width: 0px)) {
  .button_container_register .button1,
  .button_container_login .button1 {
    font-size: 10px;
    height: 30px;
    width: 150px;
    transform: scale(0.9);
  }
}
.button_container_register .button1::after,
.button_container_login .button1::after {
  content: "";
  position: absolute;
  cursor: pointer;
  backdrop-filter: blur(3px);
  background-color: rgba(26, 44, 28, 0.6);
  border-radius: 0px 5px 0px 0px;
  z-index: -1;
}

.button2 {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #f9f9f9;
  box-shadow: 5px 5px 5px #d1d9e6, -5px -5px 5px #f9f9f9;
  border: none;
  outline: none;
}
@media ((max-width: 350px) and (min-width: 0px)) {
  .button2 {
    font-size: 10px;
    height: 30px;
    width: 150px;
    transform: scale(0.9);
  }
}

.button3 {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #f9f9f9;
  box-shadow: 5px 5px 5px #d1d9e6, -5px -5px 5px #f9f9f9;
  border: none;
  outline: none;
}

.button4 {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  outline: none;
}
@media (max-width: 480px) {
  .button4 {
    transform: scale(0.9);
  }
}
@media (max-width: 375px) {
  .button4 {
    transform: scale(0.8);
  }
}
@media ((max-width: 350px) and (min-width: 0px)) {
  .button4 {
    height: 30px;
  }
}

.button5 {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  color: #f9f9f9;
  box-shadow: 5px 5px 5px #d1d9e6, -5px -5px 5px #f9f9f9;
  border: none;
  outline: none;
}
.button5 i {
  font-size: 30px;
}
@media ((max-width: 350px) and (min-width: 0px)) {
  .button5 {
    font-size: 10px;
    height: 30px;
    width: 150px;
    transform: scale(0.9);
  }
}

.button_forma {
  width: 180px;
  height: 40px;
  color: #f9f9f9;
  border-radius: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  filter: drop-shadow(3px 3px 1.5px rgba(0, 0, 0, 0.5));
}
.button_forma:hover {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}
.button_forma:hover::after {
  background-color: rgba(0, 0, 0, 0.9);
}
.button_forma::after {
  content: "";
  position: absolute;
  cursor: pointer;
  border-radius: 0px;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.efects__button {
  cursor: pointer;
}
.efects__button:hover {
  box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
  transform: scale(0.985);
  transition: 0.25s;
}
.efects__button:active, .efects__button:focus {
  box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
  transform: scale(0.97);
  transition: 0.25s;
}

.efects2__button2 {
  cursor: pointer;
}
.efects2__button2:hover, .efects2__button2:active, .efects2__button2:focus {
  transition: 0.25s;
}

.btn_actualizar {
  background-color: #2ECC71;
}

.btn_actualizar:hover {
  background-color: #25a25a;
}

.btn_buscar {
  background-color: #2980B9;
}

.btn_buscar:hover {
  background-color: #20638f;
}

.btn_cancelar {
  background-color: #95A5A6;
}

.btn_cancelar:hover {
  background-color: #798d8f;
}

.btn_editar {
  background-color: #F39C12;
}

.btn_editar:hover {
  background-color: #c87f0a;
}

.btn_eliminar {
  background-color: #E74C3C;
}

.btn_eliminar:hover {
  background-color: #d62c1a;
}

.btn_enviar {
  background-color: #27AE60;
}

.btn_enviar:hover {
  background-color: #1e8449;
}

.btn_ingresar {
  background-color: #1a7500;
}

.btn_ingresar:hover {
  background-color: #0f4200;
}

.btn_nuevo {
  background-color: #3498DB;
}

.btn_nuevo:hover {
  background-color: #217dbb;
}

.btn_copy {
  background-color: #1e88e5;
}

.btn_copy:hover {
  background-color: #166dba;
}

.btn_excel {
  background-color: #4caf50;
}

.btn_excel:hover {
  background-color: #3d8b40;
}

.btn_csv {
  background-color: #ff9800;
}

.btn_csv:hover {
  background-color: #cc7a00;
}

.btn_editar2 {
  border: 1px solid #F39C12;
  color: #F39C12;
}

.btn_editar2:hover {
  background-color: #f39c12;
  color: #f9f9f9;
}

.btn_eliminar2 {
  border: 1px solid #E74C3C;
  color: #E74C3C;
}

.btn_eliminar2:hover {
  background-color: #e74c3c;
  color: #f9f9f9;
}

.btn_organizaciones2 {
  border: 1px solid #009c8c;
  color: #009c8c;
}

.btn_organizaciones2:hover {
  background-color: #009c8c;
  color: #f9f9f9;
}

.btn_navegacion {
  background-color: #009c8c;
}

.btn_navegacion:hover {
  background-color: #008375;
}

.btn_navegacion:disabled {
  cursor: default;
  background-color: #005047;
  transform: none;
  box-shadow: none;
  opacity: 0.6;
}

/*
* Boton top
*/
#btn_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  background-color: #406c44;
  color: #f9f9f9;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}
#btn_top:hover {
  background-color: #2d4c30;
}
@media ((max-width: 335px) and (min-width: 0px)) {
  #btn_top {
    bottom: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
}

/**
* Boton para mas configuraciones
*/
.list-container {
  position: fixed;
  top: 200px;
  right: 40px;
}
.list-container.active .more-button-list {
  opacity: 1;
  transform: scale(1);
}
.list-container.active .more-button-list-item {
  animation: fadeInItem 0.6s 0.2s forwards;
}
.list-container.active .more-button-list-item:nth-child(2) {
  animation-delay: 0.4s;
}
.list-container.active .more-button-list-item:nth-child(3) {
  animation-delay: 0.6s;
}
.list-container.active .more-button-list-item:nth-child(4) {
  animation-delay: 0.8s;
}
.list-container.active .more-button {
  animation: onePulse 0.6s forwards linear;
}
.list-container.active .menu-icon-wrapper {
  transform: rotate(-45deg);
}
.list-container.active .menu-icon-line.first {
  transform: rotate(-90deg) translateX(1px);
}
.list-container.active .menu-icon-line.last {
  transform: rotate(-90deg) translateX(-1px);
}

.more-button {
  background-color: #5c67ff;
  box-shadow: 0px 0px 0px 4px rgba(64, 108, 68, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  opacity: 0.5;
  padding: 0;
  cursor: pointer;
  transition: 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9f9f9;
  position: fixed;
  z-index: 2;
  animation: moveButton 0.3s ease-out forwards;
  right: -15px;
}
.more-button:hover, .more-button:focus {
  box-shadow: 0px 0px 0px 8px rgba(64, 108, 68, 0.3);
  background-color: #4854ff;
  opacity: 1;
  right: auto;
  animation: moveButtonHover 0.3s ease-in forwards;
}
.more-button:focus {
  outline: 0;
}
.more-button-list {
  background-color: #fff;
  border-radius: 8px;
  list-style-type: none;
  width: 170px;
  height: 185px;
  box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
  padding: 0;
  padding: 6px 10px;
  position: fixed;
  right: 24px;
  opacity: 0;
  transform: scale(0);
  transform-origin: top right;
  transition: all 0.3s ease 0.1s;
}
.more-button-list li {
  opacity: 0;
}
.more-button-list li:hover {
  border-radius: 5px;
}
.more-button-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--dark);
  padding: 10px;
  border-radius: 4px;
  gap: 5px;
  padding-left: 15px;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in;
}
.more-button-list-item a:hover {
  color: #5c67ff;
}
.more-button-list-item a:after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 24px);
  left: 12px;
  bottom: 0;
  background-color: rgba(132, 160, 244, 0.1);
}
.more-button-list-item a:last-child:after {
  display: none;
}
.more-button-list-item a svg {
  width: 18px;
  height: 18px;
}
.more-button-list-item a span {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  margin-left: 8px;
}

.menu-icon-wrapper {
  border-radius: 2px;
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.menu-icon-line {
  background-color: #f9f9f9;
  border-radius: 2px;
  width: 100%;
  height: 2px;
}
.menu-icon-line.half {
  width: 50%;
}
.menu-icon-line.first {
  transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
  transform-origin: right;
}
.menu-icon-line.last {
  align-self: flex-end;
  transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
  transform-origin: left;
}

.contenedor_perfil .perfil {
  display: grid;
  padding: 20px;
  border-radius: 10px;
  background: var(--bg_contents);
  border: 1px solid rgba(var(--dark), 0.05);
  gap: 15px;
}
@media (max-width: 335px) {
  .contenedor_perfil .perfil {
    display: block;
    padding: 10px;
  }
}

/*# sourceMappingURL=home.css.map */
