/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */

#content {
	position: relative;
	width: calc(100% - 230px);
	left: 230px;
	transition: all .3s ease;

	@media (max-width: 300px) {
		width: calc(100% - 200px);
		left: 200px;
	}
}

#sidebar.hide+#content {
	width: calc(100% - 60px);
	left: 60px;
}

.contenedor_subtitulo_pagina{
	h3 {
		margin-left: 10px;
	}
}