/*
 * ----------------------------------------------------------------------------
 * Propiedad de <Armando Josue Velasquez Delgado> <<https://armandovelasquez.com>>
 * Todos los derechos reservados. Ninguna parte de este software puede ser 
 * reproducida, distribuida o transmitida de ninguna forma o por ningún medio, 
 * electrónico o mecánico, incluyendo fotocopias, grabaciones o cualquier otro 
 * sistema de almacenamiento y recuperación de información, sin el permiso 
 * previo por escrito del autor.
 * ----------------------------------------------------------------------------
 */

//sass --watch assets/scss/Admin/_home.scss:assets/css/Admin/home.css --load-path=assets/scss

// Importaciones generales
@use 'brackets';

// Importacion por componentes
@use '../components/buttons';
@use '../components/input';

.contenedor_perfil .perfil {
	display: grid;
	padding: 20px;
	border-radius: 10px;
	background: var(--bg_contents);
	border: 1px solid rgba(var(--dark), .05);
	gap: 15px;

	@media (max-width: 335px) {
		display: block;
		padding: 10px;
	}
}
